* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  width: 100%;
  height: 100%;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h3 {
  font-size: 19px;
  color: #020202;
}

h4 {
  font-size: 12px;
  color: #363636;
}

h5 {
  font-size: 16px;
}

sup {
  font-size: 5px;
}

h1 {
  font-size: 40px;
  color: #ffffff;
  font-weight: normal;
}

.clearfix, #main, #main .classic, #main .topSales, #main .brand, #main .show, #main .show .list, #logmain .box .bottom, #regmain .box .bottom, #detailmain .detail {
  *zoom: 1;
}
.clearfix:before, #main:before, #main .classic:before, #main .topSales:before, #main .brand:before, #main .show:before, #main .show .list:before, #logmain .box .bottom:before, #regmain .box .bottom:before, #detailmain .detail:before, .clearfix:after, #main:after, #main .classic:after, #main .topSales:after, #main .brand:after, #main .show:after, #main .show .list:after, #logmain .box .bottom:after, #regmain .box .bottom:after, #detailmain .detail:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after, #main:after, #main .classic:after, #main .topSales:after, #main .brand:after, #main .show:after, #main .show .list:after, #logmain .box .bottom:after, #regmain .box .bottom:after, #detailmain .detail:after {
  clear: both;
}

#container {
  position: relative;
}

#sidebar {
  position: absolute;
  right: 0;
  height: 420px;
  top: 350px;
  z-index: 4;
  width: 36px;
}
#sidebar ul li {
  position: relative;
  width: 36px;
  height: 36px;
  margin-bottom: 1px;
}
#sidebar ul li span {
  position: absolute;
  left: -100px;
  display: none;
  text-align: center;
  height: 33px;
  line-height: 33px;
  color: #363636;
  float: left;
  width: 99px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  border-right: none;
}
#sidebar ul li span.first {
  border: none;
  width: 101px;
  background: none;
}
#sidebar ul li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  float: left;
}
#sidebar ul li a.hover {
  background-position-y: -125px;
  background-color: #c69c6d;
}
#sidebar .ul1 {
  margin-bottom: 124px;
}

#sidebar .ul1 a {
  background: #333333 url("../image/icon/sidebar.png") -89px -157px;
}
#sidebar .ul1 a.a2 {
  background-position-x: -140px;
}
#sidebar .ul1 a.a3 {
  background-position-x: -202px;
}
#sidebar .ul1 a.a4 {
  background-position-x: -257px;
}
#sidebar .returntop {
  display: inline-block;
  width: 36px;
  height: 36px;
  float: left;
  background: #333333 url("../image/icon/sidebar.png") -312px -157px;
  background-position-x: -437px;
}
#sidebar .returntop:hover {
  background-position-y: -125px;
  background-color: #c69c6d;
}
#sidebar .ul2 a {
  background: #333333 url("../image/icon/sidebar.png") -312px -157px;
}
#sidebar .ul2 a.a2 {
  background-position-x: -374px;
}
#sidebar .ul2 a.a3 {
  background-position-x: -374px;
}

#header {
  height: 124px;
}
#header .top {
  height: 40px;
  background-color: #1f2021;
}
#header .top .wrap {
  width: 1006px;
  margin: 0 auto;
}
#header .top .wrap p {
  height: 40px;
  line-height: 40px;
  color: #ddae5e;
  float: left;
}
#header .top .wrap ul {
  float: right;
}
#header .top .wrap ul li {
  float: left;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  border-left: 1px solid #373737;
}
#header .top .wrap ul li.noborder {
  border: none;
  width: 73px;
  text-align: center;
}
#header .top .wrap ul li.shopbag {
  width: 76px;
  text-indent: 32px;
  background: url("../image/icon/icon.jpg") no-repeat 10px top;
}
#header .top .wrap ul li.select {
  padding-right: 22px;
  background: url("../image/icon/top.jpg") no-repeat right center;
}
#header .top .wrap ul li.load {
  padding-left: 23px;
  background: url("../image/icon/phone.jpg") no-repeat 3px;
}
#header .top .wrap ul li a {
  color: #ffffff;
}
#header .top .wrap ul li a:hover {
  color: #ddae5e;
}
#header .top .wrap ul li a:visited {
  color: #ffffff;
}
#header .logo .wrap {
  width: 1006px;
  margin: 0 auto;
}
#header .logo .wrap .search {
  width: 283px;
  margin: 20px 30px 0 0;
  height: 30px;
  border: 1px solid #020202;
  float: right;
}
#header .logo .wrap .search #autocomplete {
  border: none;
  height: 30px;
  line-height: 30px;
  float: left;
  width: 249px;
  color: #a9a9a9;
}
#header .logo .wrap .search .btn {
  border: none;
  height: 30px;
  line-height: 30px;
  float: left;
  width: 34px;
  background: #020202 url("../image/search.jpg") no-repeat center;
}

#menu {
  height: 56px;
  background-color: #232426;
  border: 1px solid #818181;
  border-left: none;
  border-right: none;
  border-bottom: 3px;
}
#menu .wrap {
  width: 1006px;
  margin: 0 auto;
}
#menu .wrap li {
  float: left;
  height: 56px;
}
#menu .wrap li a {
  height: 56px;
  line-height: 56px;
  color: #dedede;
  display: inline-block;
  padding: 0 15px;
}
#menu .wrap li a.first {
  width: 147px;
  text-align: center;
  position: relative;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  background: #cf0101 url("../image/menu.jpg") no-repeat right top;
}
#menu .wrap .twomenu {
  position: absolute;
  z-index: 3;
  width: 800px;
  left: 344px;
  display: none;
  padding-bottom: 20px;
  background-color: #ffffff;
}
#menu .wrap .twomenu h4 {
  color: #cf0201;
  font-size: 16px;
  display: inline-block;
  float: left;
}
#menu .wrap .twomenu ul {
  padding: 10px 0;
  width: 630px;
  overflow: hidden;
  border-bottom: 1px solid #d7d7d7;
  margin-left: 20px;
}
#menu .wrap .twomenu ul li {
  height: 26px;
  line-height: 26px;
  margin-right: 10px;
}
#menu .wrap .twomenu button {
  width: 116px;
  border: none;
  text-align: center;
  height: 31px;
  line-height: 31px;
  color: #ffffff;
  background-color: #cf0201;
  margin: 29px 0 20px 45px;
}

#menu .downlist {
  position: absolute;
  display: none;
  z-index: 3;
  width: 135px;
  background-color: #f2f7f7;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#menu .downlist li {
  padding-left: 10px;
  height: 35px;
}
#menu .downlist li a {
  color: #010101;
  display: inline-block;
  height: 37px;
  line-height: 37px;
  padding-left: 45px;
  background: url("../image/icon/brand_icon1.png") no-repeat;
}
#menu .downlist li a:hover {
  color: #c4a782;
}
#menu .downlist li a:visited {
  color: #010101;
}
#menu .downlist li a.a2 {
  background-position: 0 -35px;
}
#menu .downlist li a.a3 {
  background-position: 0 -66px;
}
#menu .downlist li a.a4 {
  background-position: 0 -96px;
}
#menu .downlist li a.a5 {
  background-position: 0 -131px;
}
#menu .downlist li a.a6 {
  background-position: 0 -163px;
}
#menu .downlist li a.a7 {
  background-position: 0 -196px;
}
#menu .downlist li a.a8 {
  background-position: 0 -226px;
}
#menu .downlist li a.a9 {
  background-position: 0 -260px;
}
#menu .downlist li a.a10 {
  background-position: 0 -294px;
}
#menu .downlist li a.a11 {
  background-position: 0 -324px;
}
#menu .downlist li a.a12 {
  background-position: 0 -360px;
}
#menu .downlist li a.a13 {
  background-position: 0 -386px;
}
#menu .downlist li a.a14 {
  background-position: 0 -420px;
}
#menu .downlist li a.a15 {
  background-position: 0 -453px;
}

#footer {
  height: 305px;
  margin-bottom: 24px;
  background-color: #303030;
}
#footer .wrap {
  width: 1006px;
  margin: 0 auto;
  background-color: yellow;
}
#footer .top {
  height: 119px;
  border-bottom: 1px solid #797979;
}

#footer .top .news {
  width: 315px;
  float: left;
  margin-left: 25px;
}
#footer .top .news h1 {
  margin-top: 5px;
  height: 40px;
}
#footer .top .news p {
  height: 28px;
  line-height: 28px;
  color: #ffffff;
}
#footer .top .news .order {
  width: 270px;
  height: 27px;
}
#footer .top .news .order input {
  border: none;
  float: left;
  height: 27px;
}
#footer .top .news .order input.txt {
  width: 188px;
}
#footer .top .news .order input.btn {
  width: 72px;
  margin-left: 10px;
  text-align: left;
  text-indent: 10px;
  color: #ffffff;
  background: #df1a24 url("../image/index/order.jpg") no-repeat 45px;
}

#footer .top .tip {
  padding-top: 28px;
  position: relative;
  width: 290px;
  height: 100px;
  margin-top: -10px;
  margin-left: 22px;
  float: left;
  color: #fdfdfe;
  font-size: 15px;
  background-color: #de1a22;
}
#footer .top .tip p {
  height: 30px;
  line-height: 30px;
  margin-left: 14px;
}
#footer .top .tip p.last {
  margin-left: 98px;
}
#footer .top .tip img {
  position: absolute;
  top: 0;
  left: -9px;
}

#footer .top dl {
  color: #ffffff;
  float: left;
  width: 137px;
  height: 66px;
  border-left: 1px solid #797979;
  text-align: center;
  padding-top: 19px;
  margin-top: 18px;
}
#footer .top dl dd {
  height: 24px;
  line-height: 24px;
}
#footer .top dl.weixin {
  width: 111px;
}
#footer .top dl.code {
  margin-top: 10px;
  padding: 0;
  width: 94px;
  border: none;
}

#footer .bottom {
  margin-top: 12px;
  text-align: center;
  color: #ffffff;
}
#footer .bottom dl {
  width: 162px;
  float: left;
}
#footer .bottom dl dt {
  text-align: center;
  height: 42px;
  width: 40px;
  margin-left: 40%;
  background: url("../image/icon/footericon.jpg") no-repeat;
}
#footer .bottom dl dt.dt2 {
  background-position: center -43px;
}
#footer .bottom dl dt.dt3 {
  background-position: 0 -86px;
}
#footer .bottom dl dt.dt4 {
  background-position: 0 -129px;
}
#footer .bottom dl dt.dt5 {
  background-position: 0 -172px;
}
#footer .bottom dl dd {
  height: 32px;
  line-height: 32px;
}
#footer .bottom dl.fl {
  margin-left: 425px;
}
#footer .bottom .ul1 {
  clear: both;
  margin-left: 135px;
}
#footer .bottom .ul1 li {
  float: left;
  padding: 0 17px;
  border-right: 1px solid #ffffff;
}
#footer .bottom .ul1 li.last {
  border: none;
}
#footer .bottom .ul2 {
  clear: both;
  margin-left: 314px;
}
#footer .bottom .ul2 li {
  height: 49px;
  line-height: 49px;
  color: #aaaaaa;
  padding-right: 20px;
  float: left;
}
#footer .bottom .trade {
  clear: both;
}
#footer .bottom .trade span {
  display: inline-block;
  text-indent: 23px;
}
#footer .bottom .trade span.span1 {
  background: url("../image/icon/shangwu.jpg") no-repeat left bottom;
}
#footer .bottom .trade span.span2 {
  background: url("../image/icon/360.jpg") no-repeat left bottom;
}

#banner {
  width: 1422px;
  height: 520px;
  position: relative;
  overflow: hidden;
}

#banner a {
  width: 27px;
  height: 48px;
  display: block;
  position: absolute;
  top: 40%;
  z-index: 2;
}

#banner .prev {
  background: url("../image/icon/btnicon.jpg") 0px 0;
  left: 200px;
}

#banner .next {
  right: 200px;
  background: url("../image/icon/btnicon.jpg") 0px -51px;
}

#banner .scroll {
  width: 1440px;
  height: 520px;
  background: #abcdef;
  position: relative;
  overflow: hidden;
}

#banner .scroll img {
  position: absolute;
  left: 1440px;
}

#banner .scroll img.first {
  left: 0;
}

#banner .btn {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 50%;
  margin-left: -90px;
  width: 200px;
  background: #918f8f;
}

#banner .btn span {
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #ffffff;
  float: left;
  margin: 6px;
  border-radius: 50%;
  background: #b7b6b4;
}

#banner .btn span.hover {
  background: #cc0001;
}

#main .wrap {
  width: 1006px;
  margin: 0 auto;
}
#main .wrap .title {
  height: 37px;
  line-height: 37px;
}
#main .wrap .box {
  box-shadow: 0px 3px 4px 4px #cfcfcf;
}

#main .popuEvent {
  height: 315px;
}
#main .popuEvent .title {
  margin-top: 20px;
}
#main .popuEvent .title h3 {
  height: 37px;
  line-height: 37px;
  background: url("../image/index/hotbg.jpg") no-repeat;
  text-indent: 193px;
}
#main .popuEvent .box {
  height: 206px;
  padding: 10px 15px 10px 5px;
}
#main .popuEvent .box div {
  float: left;
}
#main .popuEvent .box .left {
  margin-right: 10px;
}

#main .classic {
  height: 414px;
  background-color: #e6e6e6;
}
#main .classic .title {
  margin-top: 20px;
}
#main .classic .title h3 {
  height: 37px;
  line-height: 37px;
  background: url("../image/index/recommendbg.jpg") no-repeat;
  text-indent: 124px;
}
#main .classic .box {
  height: 306px;
  padding: 10px 15px 10px 5px;
}
#main .classic .box div {
  float: left;
}
#main .classic .box .left {
  height: 306px;
  width: 236px;
  margin-left: 4px;
}
#main .classic .box .center {
  margin: 0 9px;
}

#main .topSales {
  height: 481px;
}
#main .topSales .title h3 {
  height: 37px;
  line-height: 37px;
  background: url("../image/index/topsales.jpg") no-repeat;
  text-indent: 163px;
}
#main .topSales .box {
  height: 383px;
  padding: 10px 15px 10px 5px;
}

#main .topSales .box ul {
  height: 42px;
  margin-left: 3px;
}
#main .topSales .box ul li {
  float: left;
}
#main .topSales .box ul li a {
  display: inline-block;
  color: #000000;
  text-align: center;
  height: 42px;
  line-height: 42px;
  width: 194px;
  background-color: #e0e0e0;
  border-right: 1px solid #ffffff;
}
#main .topSales .box ul li a:hover {
  color: #ddae5e;
}
#main .topSales .box ul li a:visited {
  color: #ffffff;
}

#main .topSales .box dl, #main .show .list .bottom dl {
  width: 184px;
  height: 342px;
  float: left;
  margin-left: 7px;
}
#main .topSales .box dl dt, #main .show .list .bottom dl dt {
  height: 237px;
  margin-bottom: 20px;
  text-align: center;
}
#main .topSales .box dl dt span, #main .show .list .bottom dl dt span {
  display: inline-block;
  height: 237px;
}
#main .topSales .box dl dd, #main .show .list .bottom dl dd {
  text-align: center;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
}
#main .topSales .box dl dd.price, #main .show .list .bottom dl dd.price {
  color: #df3338;
}

#main .brand {
  height: 447px;
  background-color: #e6e6e6;
}
#main .brand .wrap {
  background-color: #ffffff;
}
#main .brand .title {
  background-color: #e6e6e6;
}
#main .brand .title h3 {
  height: 37px;
  line-height: 37px;
  background: url("../image/index/barandHbg.jpg") no-repeat;
  text-indent: 254px;
  float: left;
}
#main .brand .title a {
  color: #757272;
  display: inline-block;
  font-weight: bold;
  float: right;
}
#main .brand .title a:hover {
  color: #757272;
}
#main .brand .title a:visited {
  color: #ffffff;
}
#main .brand .box {
  height: 390px;
  padding: 10px 15px 10px 5px;
}

#main .brand .box .list {
  height: 240px;
  margin-top: 19px;
}
#main .brand .box .list dl {
  display: inline-block;
  height: 240px;
  width: 179px;
  float: left;
  margin: 0 10px;
}
#main .brand .box .list dl.last {
  margin-right: 0;
}
#main .brand .box ul {
  width: 972px;
  height: 120px;
  margin-top: 15px;
  margin-left: 5px;
}
#main .brand .box ul li {
  float: left;
  width: 100px;
  height: 37px;
  background-color: #e0e0e0;
  margin: 0 0 3px 3px;
  padding: 10px 2px;
}
#main .brand .box ul li a {
  display: inline-block;
  width: 100px;
  height: 38px;
  background: url("../image/index/brand_icon.jpg") no-repeat;
}
#main .brand .box ul li a.a2 {
  background-position: 0 -40px;
}
#main .brand .box ul li a.a3 {
  background-position: 0 -81px;
}
#main .brand .box ul li a.a4 {
  background-position: 0 -121px;
}
#main .brand .box ul li a.a5 {
  background-position: 0 -162px;
}
#main .brand .box ul li a.a6 {
  background-position: 0 -202px;
}
#main .brand .box ul li a.a7 {
  background-position: 0 -243px;
}
#main .brand .box ul li a.a8 {
  background-position: 0 -284px;
}
#main .brand .box ul li a.a9 {
  background-position: 0 -326px;
}
#main .brand .box ul li a.a10 {
  background-position: 0 -368px;
}
#main .brand .box ul li a.a11 {
  background-position: 0 -410px;
}
#main .brand .box ul li a.a12 {
  background-position: 0 -452px;
}
#main .brand .box ul li a.a13 {
  background-position: 0 -494px;
}
#main .brand .box ul li a.a14 {
  background-position: 0 -536px;
}
#main .brand .box ul li a.a15 {
  background-position: 0 -578px;
}
#main .brand .box ul li a.a16 {
  background-position: 2px -620px;
}
#main .brand .box ul li a.a17 {
  background-position: 2px -662px;
}
#main .brand .box ul li a.a18 {
  background-position: 2px -705px;
}

#main .show .wrap .title {
  height: 45px;
  padding-top: 5px;
}
#main .show .title h3 {
  height: 55px;
  line-height: 55px;
  float: left;
}
#main .show .title ul {
  float: right;
}
#main .show .title ul li {
  float: left;
}
#main .show .title ul li a {
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  padding-right: 27px;
}
#main .show .title a {
  color: #757272;
  display: inline-block;
  font-weight: bold;
  margin-top: 40px;
  float: right;
}
#main .show .title a:hover {
  color: #757272;
}
#main .show .title a:visited {
  color: #ffffff;
}
#main .show .box {
  margin-top: 60px;
  height: 715px;
  padding: 0 10px;
}

#main .show .list {
  height: 625px;
  margin-top: 38px;
}
#main .show .list div {
  float: left;
}
#main .show .list div.left {
  float: left;
  height: 307px;
  width: 618px;
  margin-right: 5px;
}
#main .show .list div.left .bg {
  width: 618px;
  height: 115px;
  position: relative;
}
#main .show .list div.left .bg img {
  position: absolute;
  bottom: 40px;
  right: 45px;
}
#main .show .list div.right {
  height: 307px;
  width: 353px;
}
#main .show .list div.bottom {
  height: 317px;
  width: 976px;
}

#main .show .list .right div {
  width: 336px;
  height: 150px;
  padding-left: 17px;
  line-height: 25px;
}
#main .show .list .right div ul {
  margin-top: 20px;
  float: left;
}
#main .show .list .right div img {
  float: right;
  margin: 7px 25px 0 0;
}
#main .show .list .right div.Man {
  margin-bottom: 7px;
}

#main .show .box .list .left .txt {
  margin: 57px 0 0 40px;
  height: 136px;
  line-height: 25px;
}

#main .show .handbag .title h3 {
  background: url("../image/index/handbagbg.jpg") no-repeat;
  text-indent: 181px;
}
#main .show .handbag .list .left .bg {
  background-color: #d4f6ff;
}
#main .show .handbag .list .right .Man {
  background-color: #e8f1ff;
}
#main .show .handbag .list .right .Gu {
  background-color: #ffe5e8;
}

#main .show .watches .title h3 {
  background: url("../image/index/watchh3.jpg") no-repeat;
  text-indent: 172px;
}
#main .show .watches .list .left .bg {
  background-color: #d4d6fd;
}
#main .show .watches .list .right .Man {
  background-color: #fff1e8;
}
#main .show .watches .list .right .Gu {
  background-color: #e6ebff;
}

#main .show .cosmetic .title h3 {
  background: url("../image/index/cosmeh3.jpg") no-repeat;
  text-indent: 188px;
}
#main .show .cosmetic .list .left {
  background-color: #ffffe5;
}
#main .show .cosmetic .list .left .bg {
  background-color: #9aaee9;
}
#main .show .cosmetic .list .right .Man {
  background-color: #e1fef9;
}
#main .show .cosmetic .list .right .Gu {
  background-color: #fff9e7;
}

#main .show .everyday {
  height: 502px;
  margin-top: 30px;
  box-shadow: 0px 3px 4px 4px #cfcfcf;
}
#main .show .everyday .list {
  height: 323px;
  margin-top: 33px;
  padding-left: 25px;
}

#main .show .everyday .list dl {
  margin-left: 15px;
  height: 323px;
  float: left;
  background-color: #f5f3f4;
}
#main .show .everyday .list dl dt {
  border: 1px solid #c9c9c9;
}
#main .show .everyday .list dl dd {
  padding-left: 22px;
  line-height: 25px;
}
#main .show .everyday .list dl dd p, #main .show .everyday .list dl dd span {
  display: inline-block;
}

#main .show .everyday .list dl dd span {
  width: 76px;
  height: 21px;
  line-height: 21px;
  background-color: #cf0201;
  margin-left: 44px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

#main .promotion {
  height: 786px;
  background-color: #e6e6e6;
  margin-top: 30px;
}
#main .promotion .title h3 {
  background: url("../image/index/prom_1.jpg") no-repeat;
  text-indent: 178px;
}
#main .promotion .box {
  height: 700px;
  padding-top: 7px;
  background-color: #ffffff;
}

#main .promotion .box .row {
  height: 268px;
  margin-top: 7px;
  margin-left: 6px;
}
#main .promotion .box .row div {
  float: left;
  width: 240px;
  margin-left: 6px;
  height: 268px;
}
#main .promotion .box .row div.gray {
  background-color: #f3f6ff;
}
#main .promotion .box .row div.blue {
  background-color: #defbff;
}
#main .promotion .box .row div.pink {
  background-color: #ffe3e2;
}
#main .promotion .box .row .special {
  width: 487px;
  display: inline-block;
  position: relative;
}
#main .promotion .box .row .special a {
  display: block;
  position: absolute;
  top: 240px;
  left: 223px;
  color: #ffffff;
}
#main .promotion .box .row .special a:hover {
  color: #ddae5e;
}
#main .promotion .box .row .special a:visited {
  color: #ffffff;
}
#main .promotion .box .row .special a.shop {
  top: 211px;
  left: 316px;
  font-weight: bold;
}

#main .promotion .box .row div ul {
  margin-top: 5px;
}
#main .promotion .box .row div ul li {
  width: 238px;
  text-align: center;
}
#main .promotion .box .row div ul li h3 {
  line-height: 31px;
}
#main .promotion .box .row div ul li.img {
  height: 166px;
}
#main .promotion .box .row div ul li.last {
  margin-top: 7px;
  font-weight: bold;
}

#main .promotion .box .pay {
  height: 114px;
  margin-left: 6px;
  margin-top: 8px;
}
#main .promotion .box .pay ul {
  width: 492px;
  float: left;
  height: 114px;
  margin-left: 8px;
}
#main .promotion .box .pay ul li {
  float: left;
}
#main .promotion .box .pay ul li a {
  float: left;
  width: 160px;
  height: 53px;
  margin-bottom: 4px;
  margin-right: 4px;
}

#logheader .wrap {
  height: 92px;
  width: 1006px;
  margin: 0 auto;
}
#logheader .wrap img, #logheader .wrap p {
  float: left;
}
#logheader .wrap p {
  height: 54px;
  line-height: 54px;
  text-indent: 7px;
  border-left: 1px solid #aaaaaa;
  font-size: 17px;
  font-weight: bold;
  display: block;
  color: #949292;
  margin-top: 18px;
}
#logheader .wrap span {
  display: block;
  float: right;
  color: #414141;
  text-indent: 24px;
  margin-top: 72px;
  background: url("../image/logo/logo_1.jpg") no-repeat;
}

#logmain, #regmain {
  margin-bottom: 10px;
  position: relative;
}
#logmain .box, #regmain .box {
  width: 296px;
  box-shadow: 0px 3px 3px 3px  #ece8e7;
  padding: 0 77px 0 77px;
  background-color: #ffffff;
  position: absolute;
}
#logmain .box .btn, #regmain .box .btn {
  margin-top: 26px;
  width: 250px;
  background-color: #cf0101;
  color: #ffffff;
  height: 33px;
  margin-bottom: 25px;
}
#logmain .box form a, #regmain .box form a {
  color: #a78668;
  display: inline-block;
  float: right;
  text-decoration: underline;
  margin-right: 20px;
}
#logmain .box form a:hover, #regmain .box form a:hover {
  color: #ddae5e;
}
#logmain .box form a:visited, #regmain .box form a:visited {
  color: #a78668;
}
#logmain .box form span, #regmain .box form span {
  display: block;
  float: right;
  margin-left: 26px;
  margin-right: 17px;
}

#logmain {
  height: 570px;
  background: #ebe7e8 url("../image/logo/banner.jpg") repeat-x;
}
#logmain .box {
  height: 450px;
  padding-top: 50px;
  top: 47px;
  right: 153px;
}

#logmain .box .title {
  height: 32px;
  color: #6d6d6d;
  border-bottom: 1px solid #cccccc;
}
#logmain .box form {
  width: 300px;
  height: 336px;
}
#logmain .box form input {
  border: none;
  margin-left: 26px;
}
#logmain .box form .name, #logmain .box form .psw {
  margin-top: 32px;
  width: 250px;
  height: 33px;
  border: 1px solid #cccccc;
  text-indent: 38px;
  background: url("../image/logo/name.jpg") no-repeat 11px;
}
#logmain .box form .psw {
  background: url("../image/logo/psw.jpg") no-repeat 11px;
  margin-bottom: 40px;
}
#logmain .box .bottom {
  border-top: 1px solid #cccccc;
  padding-left: 24px;
}
#logmain .box .bottom p {
  margin-top: 26px;
  margin-bottom: 5px;
}
#logmain .box .bottom ul li a {
  float: left;
  margin: 6px 6px 0 0;
  width: 82px;
  height: 20px;
  background: url("../image/logo/icon.jpg") no-repeat;
}
#logmain .box .bottom ul li a.a2 {
  background-position: 0 -20px;
}
#logmain .box .bottom ul li a.a3 {
  background-position: 0 -40px;
}
#logmain .box .bottom ul li a.a4 {
  background-position: 0 -60px;
}

#regmain {
  height: 620px;
  background: #ebe7e8 url("../image/logo/regin.jpg") repeat-x;
}
#regmain .box {
  height: 554px;
  top: 47px;
  right: 154px;
}

#regmain .box {
  color: #000000;
}
#regmain .box .title {
  height: 71px;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
#regmain .box .title a {
  color: #757272;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  padding: 0 20px;
  font-size: 10px;
  margin-top: 48px;
}
#regmain .box .title a:hover {
  color: #ddae5e;
}
#regmain .box .title a:visited {
  color: #757272;
}
#regmain .box .title a.hover {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
}
#regmain .box form {
  position: relative;
  padding-top: 30px;
}
#regmain .box form.phone {
  display: none;
}
#regmain .box form .hidden {
  visibility: hidden;
}
#regmain .box form p {
  height: 22px;
  line-height: 22px;
  margin: 2px 0;
  text-indent: 10px;
  width: 208px;
  margin-left: 79px;
  background-color: #fee0e3;
  border: 1px solid #ff9ba5;
}
#regmain .box form .code, #regmain .box form .getcheck {
  position: absolute;
  width: 70px;
  height: 25px;
  background: none;
  right: -70px;
  top: 32px;
  border: 1px solid #cccccc;
}
#regmain .box form .code {
  top: 95px;
}
#regmain .box form input {
  width: 210px;
  height: 32px;
  border: none;
  border: 1px solid #cccccc;
}
#regmain .box form input.disable {
  color: #ffffff;
  background-color: lightcoral;
}
#regmain .box form label {
  display: inline-block;
  width: 78px;
  text-align: right;
}
#regmain .box form .check {
  width: 12px;
  height: 12px;
  margin-left: 40px;
}
#regmain .box form .btn {
  margin-top: 25px;
  width: 210px;
  border: none;
  margin-left: 56px;
}
#regmain .box form .agree {
  width: 227px;
}
#regmain .box form .agree span {
  color: #757272;
  display: inline-block;
  float: none;
  margin-left: 0px;
  margin-right: 0px;
}
#regmain .box .bottom {
  border-top: 1px solid #cccccc;
  padding-left: 24px;
  height: 109px;
  margin-top: 26px;
  line-height: 60px;
}
#regmain .box .bottom span {
  color: #ff0087;
}

#carmain .wrap {
  margin: 0 auto;
  width: 1006px;
}

#carmain .wrap {
  color: #000000;
  clear: both;
}
#carmain .wrap .step {
  margin-bottom: 33px;
  height: 47px;
  background-color: #ebebeb;
  float: right;
}
#carmain .wrap .step li {
  height: 44px;
  line-height: 44px;
  background: url("../image/logo/cargt.jpg") no-repeat right;
  float: left;
  display: inline-block;
  height: 44px;
  padding: 0 50px 0 40px;
}
#carmain .wrap .step li.last {
  background: none;
  width: 150px;
  padding: 0;
  text-align: center;
}
#carmain .wrap .step li.active {
  background: #727071 url("../image/logo/caractive.jpg") no-repeat right;
}

#carmain .wrap .orderMes {
  clear: both;
  position: relative;
}
#carmain .wrap .orderMes .space {
  text-align: center;
  margin: 30px 0;
}
#carmain .wrap .orderMes .gotoindex {
  display: block;
  margin-left: 430px;
  width: 120px;
  height: 50px;
  margin-bottom: 30px;
  color: #ffffff;
  background-color: #df3338;
  border: none;
}
#carmain .wrap .orderMes .title {
  height: 79px;
  line-height: 79px;
  background-color: #ebeaea;
}
#carmain .wrap .orderMes .list .img {
  height: 100px;
}
#carmain .wrap .orderMes .list .img img {
  width: 95px;
  height: 100px;
}
#carmain .wrap .orderMes .list li.number input {
  border: none;
  border: 1px solid #9d9d9d;
  background: none;
  text-align: center;
  width: 50px;
}
#carmain .wrap .orderMes .list li.number input.btn {
  text-align: center;
  height: 14px;
  line-height: 14px;
  width: 14px;
}
#carmain .wrap .orderMes .title .ul1, #carmain .wrap .orderMes .list .ul1 {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #b3b3b3;
}
#carmain .wrap .orderMes .title li, #carmain .wrap .orderMes .list li {
  float: left;
  text-align: center;
}
#carmain .wrap .orderMes .title li.all, #carmain .wrap .orderMes .list li.all {
  width: 46px;
}
#carmain .wrap .orderMes .title li.name, #carmain .wrap .orderMes .list li.name {
  width: 212px;
}
#carmain .wrap .orderMes .title li.name p, #carmain .wrap .orderMes .list li.name p {
  height: 25px;
  line-height: 25px;
}
#carmain .wrap .orderMes .title li.att, #carmain .wrap .orderMes .title li.unitPrice, #carmain .wrap .orderMes .title li.img, #carmain .wrap .orderMes .title li.price, #carmain .wrap .orderMes .title li.oper, #carmain .wrap .orderMes .list li.att, #carmain .wrap .orderMes .list li.unitPrice, #carmain .wrap .orderMes .list li.img, #carmain .wrap .orderMes .list li.price, #carmain .wrap .orderMes .list li.oper {
  width: 95px;
}
#carmain .wrap .orderMes .title li.oper a, #carmain .wrap .orderMes .list li.oper a {
  display: block;
  height: 40px;
  line-height: 40px;
}
#carmain .wrap .orderMes .title li.number, #carmain .wrap .orderMes .list li.number {
  width: 152px;
}
#carmain .wrap .orderMes .title li.activity, #carmain .wrap .orderMes .list li.activity {
  width: 120px;
}

#carmain .wrap .bottom {
  padding-top: 36px;
}
#carmain .wrap .bottom input {
  border: none;
  background: none;
  margin: 0 7px;
}
#carmain .wrap .bottom .clearCar {
  display: inline-block;
  float: left;
  margin-left: 59px;
  color: blue;
}
#carmain .wrap .bottom p {
  height: 20px;
  line-height: 20px;
  float: right;
  margin-right: 30px;
}
#carmain .wrap .bottom p .totalprice {
  color: #df3338;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
#carmain .wrap .bottom div.pricebtn {
  overflow: hidden;
  clear: both;
  padding-top: 35px;
  padding-bottom: 28px;
}
#carmain .wrap .bottom .goshop, #carmain .wrap .bottom .pay {
  text-align: center;
  height: 36px;
  line-height: 36px;
  padding: 0 40px;
  color: #ffffff;
  float: right;
}
#carmain .wrap .bottom .goshop {
  background-color: #e66b2d;
}
#carmain .wrap .bottom .pay {
  background-color: #df3338;
}

#carmain .sale {
  height: 292px;
  padding-top: 16px;
  background-color: #ececec;
}
#carmain .sale .wrap {
  width: 1006px;
  height: 280px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px #dfdfdf;
}

#carmain .sale h3 {
  display: inline-block;
  margin-top: 10px;
  margin-left: -9px;
  height: 45px;
  line-height: 45px;
  background: url("../image/logo/saleH.jpg") no-repeat;
  text-indent: 126px;
}
#carmain .sale dl {
  width: 300px;
  height: 165px;
  margin: 30px 0 0 20px;
}
#carmain .sale dl dt {
  float: left;
}
#carmain .sale dl dd {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-left: 8px;
}
#carmain .sale dl dd input {
  border: none;
  text-align: center;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  color: #ffffff;
  background-color: #e66b2d;
}

#carmain .youlike {
  height: 260px;
  background-color: #ffffff;
  padding-top: 20px;
}
#carmain .youlike .wrap {
  width: 1006px;
  height: 246px;
  margin: 0 auto;
  box-shadow: 0px 3px 3px 3px #dfdfdf;
}

#carmain .youlike p {
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  text-indent: 20px;
  font-size: 14px;
  background-color: #be0d13;
}
#carmain .youlike dl {
  width: 144px;
  height: 210px;
  float: left;
  margin: 15px 0 0 40px;
  text-align: center;
}

#carmain .youlike dl dt {
  height: 140px;
}
#carmain .youlike dl dt span {
  height: 165px;
  line-height: 165px;
}
#carmain .youlike dl dd {
  margin-top: 14px;
}

#collectmain .wrap {
  width: 1006px;
  margin: 0 auto;
  height: 760px;
}
#collectmain .title {
  height: 70px;
  border-bottom: 1px solid #000000;
  background: url("../image/logo/title.jpg") no-repeat left bottom;
}
#collectmain .content {
  height: 655px;
  padding-top: 15px;
}

#collectmain .content .left {
  width: 158px;
  margin-right: 20px;
  float: left;
}
#collectmain .content .left .list h3 {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  background: #c69c6d url("../image/collect/list_sty.jpg") no-repeat 20px;
}
#collectmain .content .left .list li {
  box-shadow: 0px 3px 3px 3px #dfdfdf;
}
#collectmain .content .left .sub {
  overflow: hidden;
}
#collectmain .content .left .sub li {
  height: 30px;
  line-height: 30px;
  text-align: center;
  box-shadow: none;
}

#collectmain .content .right {
  width: 825px;
  float: left;
  font-size: 17px;
  height: 30px;
  line-height: 30px;
}
#collectmain .content .right h3 {
  border-bottom: 1px solid #dddddd;
}
#collectmain .content .right h3 p {
  height: 30px;
  width: 90px;
  border-bottom: 2px solid #cf0101;
}
#collectmain .content .right img {
  margin-top: 10px;
}
#collectmain .content .right .btn {
  height: 30px;
  margin: 15px 0;
}
#collectmain .content .right .btn button {
  background: none;
  border: none;
  color: #ffffff;
  width: 94px;
  height: 25px;
  line-height: 25px;
  background-color: #ddae5e;
}

#tabs {
  margin-top: 15px;
  width: 824px;
  font-size: 12px;
}

#tabs-1, #tabs-2, #tabs-3 {
  width: 824px;
  height: 290px;
  box-shadow: 0px 3px 3px 3px #dfdfdf;
  padding: 0;
  background: none;
}
#tabs-1 .prolist, #tabs-2 .prolist, #tabs-3 .prolist {
  width: 734px;
  height: 290px;
  float: left;
}
#tabs-1 .prolist dl, #tabs-2 .prolist dl, #tabs-3 .prolist dl {
  height: 240px;
  text-align: center;
  width: 180px;
  display: inline-block;
  padding: 0;
}
#tabs-1 .prolist dl img, #tabs-2 .prolist dl img, #tabs-3 .prolist dl img {
  width: 130px;
  height: 130px;
}
#tabs-1 .prolist dl dd, #tabs-2 .prolist dl dd, #tabs-3 .prolist dl dd {
  padding: 0;
}
#tabs-1 .prolist dl dd p, #tabs-2 .prolist dl dd p, #tabs-3 .prolist dl dd p {
  display: inline-block;
  color: #d73128;
}
#tabs-1 span, #tabs-2 span, #tabs-3 span {
  display: block;
  width: 45px;
  height: 290px;
  float: left;
  border: none;
}
#tabs-1 span.prev, #tabs-2 span.prev, #tabs-3 span.prev {
  background: url("../image/collect/gt.jpg") no-repeat center;
}
#tabs-1 span.next, #tabs-2 span.next, #tabs-3 span.next {
  background: url("../image/collect/lt.jpg") no-repeat center;
}

#detailmain {
  margin-bottom: 100px;
}
#detailmain .wrap {
  width: 1006px;
  margin: 0 auto;
}

#detailmain .pro {
  height: 615px;
}
#detailmain .pro .left {
  margin-top: 30px;
  float: left;
  width: 435px;
  position: relative;
}
#detailmain .pro .right {
  float: right;
  margin-top: 38px;
  width: 530px;
}

#detailmain .pro .left .bigimg {
  position: absolute;
  display: none;
  width: 430px;
  height: 435px;
  box-shadow: 0px 3px 3px 3px #e1e1e1;
  border: 1px solid #666666;
  left: 440px;
  overflow: hidden;
  top: 0;
}
#detailmain .pro .left .bigimg img {
  position: absolute;
  width: 924px;
  height: 946px;
  left: 0;
  top: 0;
}
#detailmain .pro .left .imgbox {
  width: 430px;
  height: 435px;
  position: relative;
  box-shadow: 0px 3px 3px 3px #e1e1e1;
}
#detailmain .pro .left .imgbox img {
  width: 430px;
  height: 435px;
}
#detailmain .pro .left .imgbox span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #918f8f;
  opacity: 0.7;
}
#detailmain .pro .left .list {
  margin-top: 34px;
  height: 68px;
}
#detailmain .pro .left .list button {
  float: left;
  width: 22px;
  height: 68px;
}
#detailmain .pro .left .list button.prev {
  float: left;
  background: url("../image/detail/prev.jpg") no-repeat;
}
#detailmain .pro .left .list button.next {
  float: left;
  background: url("../image/detail/next.jpg") no-repeat;
}

#detailmain .pro .left .list .ulbox {
  margin: 0 25px;
  width: 340px;
  height: 68px;
  float: left;
  position: relative;
  overflow: hidden;
}
#detailmain .pro .left .list ul {
  height: 68px;
  position: absolute;
  width: 400px;
  left: 0;
}
#detailmain .pro .left .list ul li {
  text-align: center;
  float: left;
  height: 65px;
  width: 80px;
}
#detailmain .pro .left .list ul li img {
  border: 1px solid #cccccc;
  height: 65px;
  width: 65px;
}

#detailmain .right a, #detailmain .right h5, #detailmain .right h4 {
  color: #757272;
}
#detailmain .right li {
  height: 26px;
  line-height: 26px;
}
#detailmain .right .title {
  border-bottom: 1px dashed #353637;
}

#detailmain .right .payprice li {
  height: 24px;
  line-height: 24px;
}
#detailmain .right .payprice li.first {
  height: 45px;
  line-height: 45px;
}
#detailmain .right .payprice li.first span {
  color: #d00000;
  font-weight: bold;
}
#detailmain .right .payprice li.first span.price {
  font-size: 16px;
}
#detailmain .right .payprice li.yipay {
  color: #d00000;
  height: 65px;
}
#detailmain .right .payprice li.yipay p {
  height: 24px;
  line-height: 24px;
}

#detailmain .right .mes li .tip {
  color: #ddae5e;
}
#detailmain .right .mes .color input {
  border: none;
  background: none;
  width: 40px;
  text-align: center;
  height: 26px;
  line-height: 26px;
  border: 1px solid #d00000;
  margin-left: 30px;
}
#detailmain .right .mes .num {
  margin-top: 15px;
}
#detailmain .right .mes .num input {
  text-align: center;
  height: 14px;
  line-height: 14px;
  background: none;
  border: 1px solid #abadb3;
  width: 14px;
}
#detailmain .right .mes .num input.txt {
  text-align: center;
  height: 20px;
  line-height: 20px;
  width: 54px;
  margin: 0 5px;
}
#detailmain .right .mes .num span {
  display: inline-block;
  margin-right: 30px;
}

#detailmain .right .pay {
  overflow: hidden;
  border-bottom: 1px dashed #353637;
}
#detailmain .right .pay li {
  float: left;
  background-color: #d00000;
  text-align: center;
  height: 35px;
  line-height: 35px;
  width: 150px;
  color: #ffffff;
  margin: 10px 10px 20px 0;
}
#detailmain .right .pay li.shopcar {
  background-color: #e66b2d;
}
#detailmain .right .pay li.coll {
  width: 75px;
  margin-top: 18px;
  text-align: center;
  height: 21px;
  line-height: 21px;
  background-color: #e66b2d;
}

#detailmain .right .serve {
  height: 77px;
  line-height: 77px;
  margin-top: 12px;
  overflow: hidden;
}
#detailmain .right .serve li {
  float: left;
}
#detailmain .right .serve li dl {
  height: 67px;
  width: 86px;
  text-align: center;
}
#detailmain .right .serve li dl dt {
  margin: 0 auto;
  width: 45px;
  height: 35px;
  background: url("../image/detail/serv_icon.jpg") no-repeat;
}
#detailmain .right .serve li dl dt.dt2 {
  background-position-y: -35px;
}
#detailmain .right .serve li dl dt.dt3 {
  background-position-y: -70px;
}
#detailmain .right .serve li dl dt.dt4 {
  background-position-y: -105px;
}
#detailmain .right .serve li dl dt.dt5 {
  background-position-y: -140px;
}
#detailmain .right .serve li dl dd {
  height: 30px;
  line-height: 30px;
}

#detailmain .detail .left {
  width: 800px;
  float: left;
}
#detailmain .detail .right {
  width: 172px;
  float: right;
}

#detailmain .detail .left .select li {
  float: left;
  color: #000000;
}
#detailmain .detail .left .select a {
  display: inline-block;
  font-weight: bold;
  background-color: #ffffff;
  text-align: center;
  height: 25px;
  line-height: 25px;
  color: #000000;
  border: 1px solid #666666;
  width: 264px;
}
#detailmain .detail .left .box {
  padding-top: 30px;
}

#detailmain .detail .right {
  height: 500px;
}
#detailmain .detail .right .img2 {
  margin-top: 10px;
}
#detailmain .detail .right .box {
  overflow: hidden;
  margin-top: 25px;
  padding-bottom: 15px;
  border: 1px solid #999999;
}
#detailmain .detail .right .box p {
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  background-color: #d00000;
  width: 170px;
}
#detailmain .detail .right .box dl {
  overflow: hidden;
  text-align: center;
}
#detailmain .detail .right .box dl dt {
  height: 135px;
}
#detailmain .detail .right .box dl dt span {
  display: inline-block;
  height: 135px;
  line-height: 135px;
}
#detailmain .detail .right .box dl dd {
  height: 20px;
  line-height: 20px;
}

#listmain .wrap {
  color: #666666;
  width: 1210px;
  margin: 0 auto;
}
#listmain .title {
  height: 93px;
}
#listmain .title p {
  height: 49px;
  line-height: 49px;
  text-indent: 5px;
  background-color: #f2f2f2;
}
#listmain .title p span {
  color: #d00000;
}

#listmain .title {
  margin: 12px 0 12px 0;
}
#listmain .title ul {
  height: 47px;
  line-height: 47px;
  border: 1px solid #dfdfdf;
  border-top: none;
}
#listmain .title ul li {
  float: left;
  padding-left: 19px;
}

#listmain .list {
  overflow: hidden;
  border-top: 3px solid #dfdfdf;
}
#listmain .list .filter {
  margin-top: 10px;
  height: 36px;
  background-color: #f2f2f2;
  padding-left: 9px;
}
#listmain .list .filter li {
  float: left;
}
#listmain .list .filter li a {
  text-align: center;
  height: 25px;
  line-height: 25px;
  margin-top: 9px;
  display: inline-block;
  color: #666666;
  width: 60px;
  border: 1px solid #c9c9c9;
  border-right: none;
}
#listmain .list .filter li a.last {
  border-right: 1px solid #c9c9c9;
}

#listmain .list dl {
  height: 492px;
  width: 264px;
  float: left;
  margin-left: 37px;
  text-align: center;
}
#listmain .list dl dt {
  height: 290px;
  margin-bottom: 40px;
}
#listmain .list dl dt span {
  display: inline-block;
  height: 290px;
  line-height: 290px;
}
#listmain .list dl dt img {
  width: 260px;
  height: 260px;
}
#listmain .list dl dd {
  line-height: 27px;
}
#listmain .list dl dd.price {
  color: #ddae5e;
}
#listmain .list dl dd.price del {
  color: #999999;
}

#listmain .page {
  height: 32px;
  margin: 50px 0 30px 0;
  text-align: center;
}
#listmain .page ul {
  display: inline-block;
}
#listmain .page ul li {
  float: left;
  overflow: hidden;
}
#listmain .page ul li button {
  background: none;
  height: 30px;
  line-height: 30px;
  width: 35px;
  border: 1px solid #c69c6d;
  margin-left: 8px;
}
#listmain .page ul li button.special {
  width: 54px;
}
#listmain .page ul li button.active {
  background-color: #c69c6d;
}

/*# sourceMappingURL=main.css.map */
