#logheader{
  .wrap{
    height: 92px;
    width: $wrapWidth;
    margin:0 auto;
    img,p{
      float: left;
    }
    p{
      @include set-height(54px);
      text-indent: 7px;
      border-left: 1px solid #aaaaaa;
      font-size: 17px;
      font-weight: bold;
      display: block;
      color: #949292;
      margin-top: 18px;
    }
    span{
      display: block;
      float: right;
      color: #414141;
      text-indent: 24px;
      margin-top: 72px;
      background: url("../image/logo/logo_1.jpg") no-repeat;
    }
  }
}

#logmain,#regmain{
  margin-bottom: 10px;
  position: relative;
  .box{
    width: 296px;
    box-shadow: 0px 3px 3px 3px  #ece8e7;
    padding: 0 77px 0 77px;
    background-color: #ffffff;
    position: absolute;
    .btn{
      margin-top: 26px;
      width: 250px;
      background-color: #cf0101;
      color: #ffffff;
      height: 33px;
      margin-bottom: 25px;
    }
    form{
      a{
        @include link-colors($formtxtCol, #ddae5e,$formtxtCol);
        display: inline-block;
        float: right;
        text-decoration: underline;
        margin-right: 20px;
      }
      span{
        display: block;
        float: right;
        margin-left: 26px;
        margin-right: 17px;
      }
    }
  }
}
#logmain{
  height: 570px;
  background:#ebe7e8 url("../image/logo/banner.jpg") repeat-x;
  .box{
    height: 450px;
    padding-top: 50px;
    top: 47px;
    right: 153px;
  }
}

#logmain .box{
  .title{
    height: 32px;
    color: #6d6d6d;
    border-bottom: 1px solid $formCol;
  }
  form{
    width: 300px;
    height: 336px;
    input{
      border: none;
      margin-left: 26px;
    }
    .name,.psw{
      margin-top: 32px;
      width: 250px;
      height: 33px;
      border: 1px solid $formCol;
      text-indent: 38px;
      background: url("../image/logo/name.jpg") no-repeat 11px;
    }
    .psw{
      background: url("../image/logo/psw.jpg") no-repeat 11px;
      margin-bottom: 40px;
    }
  }
  .bottom{
    @extend .clearfix;
    border-top: 1px solid $formCol;
    padding-left: 24px;
    p{
      margin-top: 26px;
      margin-bottom: 5px;
    }
    ul li a{
      float: left;
      margin: 6px 6px 0 0 ;
      width: 82px;
      height: 20px;
      background: url("../image/logo/icon.jpg") no-repeat;
      &.a2{
        background-position: 0 -20px;
      }
      &.a3{
        background-position: 0 -40px;
      }
      &.a4{
        background-position: 0 -60px;
      }
    }
  }
}

#regmain{
  height: 620px;
  background: #ebe7e8 url("../image/logo/regin.jpg") repeat-x;
  .box{
    height: 554px;
    top: 47px;
    right: 154px;
  }
}
#regmain .box{
  color: #000000;
  .title{
    height: 71px;
    border-bottom: 1px solid $formCol;
    text-align: center;
    a{
      @include link-colors(#757272, #ddae5e,#757272);
      @include set-height(20px);
      display: inline-block;
      padding: 0 20px;
      font-size: 10px;
      margin-top: 48px;
      &.hover{
        background-color: #000000;
        color: #ffffff;
        border-radius: 5px 5px 0 0;
      }
    }
  }
  form{
    position: relative;
    padding-top: 30px;
    &.phone{
      display: none;
    }
    .hidden{
      visibility: hidden;
    }
    p{
      @include set-height(22px);
      margin: 2px 0;
      text-indent: 10px;
      width: 208px;
      margin-left: 79px;
      background-color: #fee0e3;
      border: 1px solid #ff9ba5;
    }
    .code,.getcheck{
      position: absolute;
      width: 70px;
      height: 25px;
      background:none;
      right:-70px;
      top: 32px;
      border: 1px solid #cccccc;
    }
    .code{
      top:95px;
    }
    input{
      width: 210px;
      height: 32px;
      border: none;
      //margin-top: 30px;
      border: 1px solid #cccccc;
      &.disable{
        color: #ffffff;
        background-color: lightcoral;
      }
    }
    label{
      display: inline-block;
      width: 78px;
      text-align: right;
    }
    .check{
      width:12px;
      height:12px;
      margin-left: 40px;
    }
    .btn{
      margin-top: 25px;
      width: 210px;
      border: none;
      margin-left: 56px;
    }
    .agree{
      width: 227px;
      span{
        color: #757272;
        display:inline-block;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
  .bottom{
    @extend .clearfix;
    border-top: 1px solid $formCol;
    padding-left: 24px;
    height: 109px;
    margin-top: 26px;
    line-height: 60px;
    span{
      color: #ff0087;
    }
  }
}
