#logheader{
  .wrap{
    height: 92px;
    width: $wrapWidth;
    margin:0 auto;
    img,p{
      float: left;
    }
    p{
      @include set-height(54px);
      text-indent: 7px;
      border-left: 1px solid #aaaaaa;
      font-size: 17px;
      font-weight: bold;
      display: block;
      color: #949292;
      margin-top: 18px;
    }
    span{
      display: block;
      float: right;
      color: #414141;
      text-indent: 24px;
      margin-top: 72px;
      background: url("../image/logo/logo_1.jpg") no-repeat;
    }
  }
}

#logmain,#regmain{
  margin-bottom: 10px;
  position: relative;
  .box{
    width: 296px;
    box-shadow: 0px 3px 3px 3px  #ece8e7;
    padding: 0 77px 0 77px;
    background-color: #ffffff;
    position: absolute;
    .btn{
      margin-top: 26px;
      width: 250px;
      background-color: #cf0101;
      color: #ffffff;
      height: 33px;
      margin-bottom: 25px;
    }
    form{
      a{
        @include link-colors($formtxtCol, #ddae5e,$formtxtCol);
        display: inline-block;
        float: right;
        text-decoration: underline;
        margin-right: 20px;
      }
      span{
        display: block;
        float: right;
        margin-left: 26px;
        margin-right: 17px;
      }
    }
  }
}
#logmain{
  height: 570px;
  background:#ebe7e8 url("../image/logo/banner.jpg") repeat-x;
  .box{
    height: 450px;
    padding-top: 50px;
    top: 47px;
    right: 153px;
  }
}

#logmain .box{
  .title{
    height: 32px;
    color: #6d6d6d;
    border-bottom: 1px solid $formCol;
  }
  form{
    width: 300px;
    height: 336px;
    input{
      border: none;
      margin-left: 26px;
    }
    .name,.psw{
      margin-top: 32px;
      width: 250px;
      height: 33px;
      border: 1px solid $formCol;
      text-indent: 38px;
      background: url("../image/logo/name.jpg") no-repeat 11px;
    }
    .psw{
      background: url("../image/logo/psw.jpg") no-repeat 11px;
      margin-bottom: 40px;
    }
  }
  .bottom{
    @extend .clearfix;
    border-top: 1px solid $formCol;
    padding-left: 24px;
    p{
      margin-top: 26px;
      margin-bottom: 5px;
    }
    ul li a{
      float: left;
      margin: 6px 6px 0 0 ;
      width: 82px;
      height: 20px;
      background: url("../image/logo/icon.jpg") no-repeat;
      &.a2{
        background-position: 0 -20px;
      }
      &.a3{
        background-position: 0 -40px;
      }
      &.a4{
        background-position: 0 -60px;
      }
    }
  }
}

#regmain{
  height: 620px;
  background: #ebe7e8 url("../image/logo/regin.jpg") repeat-x;
  .box{
    height: 554px;
    top: 47px;
    right: 154px;
  }
}
#regmain .box{
  color: #000000;
  .title{
    height: 71px;
    border-bottom: 1px solid $formCol;
    text-align: center;
    a{
      @include link-colors(#757272, #ddae5e,#757272);
      @include set-height(20px);
      display: inline-block;
      padding: 0 20px;
      font-size: 10px;
      margin-top: 48px;
      &.hover{
        background-color: #000000;
        color: #ffffff;
        border-radius: 5px 5px 0 0;
      }
    }
  }
  form{
    position: relative;
    padding-top: 30px;
    &.phone{
      display: none;
    }
    .hidden{
      visibility: hidden;
    }
    p{
      @include set-height(22px);
      margin: 2px 0;
      text-indent: 10px;
      width: 208px;
      margin-left: 79px;
      background-color: #fee0e3;
      border: 1px solid #ff9ba5;
    }
    .code,.getcheck{
      position: absolute;
      width: 70px;
      height: 25px;
      background:none;
      right:-70px;
      top: 32px;
      border: 1px solid #cccccc;
    }
    .code{
      top:95px;
    }
    input{
      width: 210px;
      height: 32px;
      border: none;
      //margin-top: 30px;
      border: 1px solid #cccccc;
      &.disable{
        color: #ffffff;
        background-color: lightcoral;
      }
    }
    label{
      display: inline-block;
      width: 78px;
      text-align: right;
    }
    .check{
      width:12px;
      height:12px;
      margin-left: 40px;
    }
    .btn{
      margin-top: 25px;
      width: 210px;
      border: none;
      margin-left: 56px;
    }
    .agree{
      width: 227px;
      span{
        color: #757272;
        display:inline-block;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
  .bottom{
    @extend .clearfix;
    border-top: 1px solid $formCol;
    padding-left: 24px;
    height: 109px;
    margin-top: 26px;
    line-height: 60px;
    span{
      color: #ff0087;
    }
  }
}
#carmain{
  .wrap{
    margin: 0 auto;
    width: $wrapWidth;
  }
}
#carmain .wrap{
  color: #000000;
  clear: both;
  .step{
    margin-bottom: 33px;
    height: 47px;
    background-color: #ebebeb;
    float: right;
    li{
      @include set-height(44px);
      background: url("../image/logo/cargt.jpg") no-repeat right;
      float: left;
      display: inline-block;
      height: 44px;
      padding: 0 50px 0 40px;
      &.last{
        background: none;
        width: 150px;
        padding: 0;
        text-align: center;
      }
      &.active{
        background: #727071 url("../image/logo/caractive.jpg") no-repeat right;
      }
    }
  }
}
#carmain .wrap .orderMes{
  clear: both;
  position: relative;
  .space{
    text-align: center;
    margin: 30px 0;
  }
  .gotoindex{
    display: block;
    margin-left: 430px;
    width: 120px;
    height: 50px;
    margin-bottom:30px;
    color: #ffffff;
    background-color: $priceCol;
    border: none;
  }
  .title{
    @include set-height(79px);
    background-color: #ebeaea;
  }
  .list{
    .img{
      height: 100px;
      img{
        width: 95px;
        height: 100px;
      }
    }
    li.number{
      input{
        border:none;
        border: 1px solid #9d9d9d;
        background: none;
        text-align: center;
        width: 50px;
        &.btn{
          @include textCenter(14px);
          width: 14px;
        }
      }
    }
  }
  .title,.list{
    .ul1{
      @include set-height(100px);
      border-bottom: 1px solid #b3b3b3;
    }
    li{
      float: left;
      text-align: center;
      &.all{
        width: 46px;
      }
      &.name{
        width: 212px;
        p{
          @include set-height(25px);
        }
      }
      &.att,&.unitPrice,&.img,&.price,&.oper{
        width: 95px;
      }
      &.oper{
        a{
          display: block;
          @include set-height(40px);
        }
      }
      &.number{
        width: 152px;
      }
      &.activity{
        width: 120px;
      }
    }
  }
}
#carmain .wrap .bottom{
  padding-top: 36px;
  input{
    border: none;
    background:none;
    margin: 0 7px;
  }
  .clearCar{
    display: inline-block;
    float: left;
    margin-left: 59px;
    color: blue;
  }
  p{
    @include set-height(20px);
    float: right;
    margin-right: 30px;
    .totalprice{
      color: $priceCol;
      margin-top: 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }
  div.pricebtn{
    overflow: hidden;
    clear: both;
    padding-top: 35px;
    padding-bottom: 28px;
  }
  .goshop,.pay{
    @include textCenter(36px);
    padding:0 40px;
    color: #ffffff;
    float: right;
  }
  .goshop{
    background-color: #e66b2d;
  }
  .pay{
    background-color: $priceCol;
  }
}
#carmain .sale{
  height: 292px;
  padding-top: 16px;
  background-color: #ececec;
  .wrap{
    width: $wrapWidth;
    height: 280px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #dfdfdf;
  }
}
#carmain .sale{
  h3{
    display: inline-block;
    margin-top: 10px;
    margin-left: -9px;
    @include set-height(45px);
    background: url("../image/logo/saleH.jpg") no-repeat;
    text-indent: 126px;
  }
  dl{
    width: 300px;
    height: 165px;
    margin: 30px 0 0 20px;
    dt{
      float: left;
    }
    dd{
      @include set-height(30px);
      float: left;
      margin-left: 8px;
      input{
        border: none;
        @include textCenter(36px);
        padding:0 20px;
        color: #ffffff;
        background-color: #e66b2d;
      }
    }
  }
}
#carmain .youlike{
  height: 260px;
  background-color: #ffffff;
  padding-top: 20px;
  .wrap{
    width: $wrapWidth;
    height: 246px;
    margin: 0 auto;
    box-shadow: 0px 3px 3px 3px #dfdfdf;
  }
}
#carmain .youlike{
  p{
    @include set-height(35px);
    color: #ffffff;
    text-indent: 20px;
    font-size: 14px;
    background-color: #be0d13;
  }
  dl{
    width: 144px;
    height: 210px;
    float: left;
    margin: 15px 0 0 40px;
    text-align: center;
  }
}
#carmain .youlike dl{
  dt{
    height: 140px;
    span{
      @include  set-height(165px);
    }
  }
  dd{
    margin-top: 14px;
  }
}

