$minWidth:1308px;
$headerHeight:124px;
$topColor:#1f2021;
$specialTxtCol:#ddae5e;
$wrapWidth:1006px;
$searchCol:#020202;
$menuCol:#232426;
$menutxtCol:#dedede;
$mainbgCol:#e6e6e6;
$priceCol:#df3338;
$bg:#e6e6e6;
$footerCol:#303030;
$formCol :#cccccc;
$formtxtCol:#a78668;